<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Upload and Download System</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <h1>File Upload and Download System</h1>
    
    <p>
      Welcome to the File Upload and Download System. This application allows you to:
    </p>
    
    <ul>
      <li>Upload files to the server</li>
      <li>View a list of uploaded files</li>
      <li>Download files from the server</li>
    </ul>
    
    <div class="btn-container">
      <a href="/upload" class="btn">Upload Files</a>
      <a href="/download" class="btn">Download Files</a>
    </div>
  </div>
</body>
</html> 